<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>







<body>
    <div class="nav-wrapper white">
        <a href="#" class="brand-logo red-text">Music Org</a>
        <a href="/posts/create" class="btn right green">New Post</a>
    </div>
    <h2>Posts</h2>
    <% for (let i=0; i < posts.length; i ++) { %>
        <li>
            <%= posts[i].Song %>
            <%= posts[i].Author %>
            <%= posts[i].Review %>
            Link to Post: <a href="/posts/<%=posts[i]._id%>">
                            <%=posts[i].Author%>
                        </a>
            <a href="/posts/<%=posts[i]._id%>/edit" class="btn btn-primary">Edit</a>
            <form action="/posts/<%=posts[i]._id%>?_method=DELETE" method="POST" class="d-inline">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form>
        </li>
        <% } %>
</body>
</html>