<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">Queue<span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item active">
                    <a href="/posts/create" class="btn btn-success right">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="/posts/archive">Archive</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="/posts/archive">Likes</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 searchInput" type="search" placeholder="Search" aria-label="Search">
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle filter" type="button" id="dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="margin-right: 8px">
                       
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item category" href="#">Song</button>
                        <button class="dropdown-item category" href="#">Artist</button>
                        <button class="dropdown-item category" href="#">Album</button>
                        <button class="dropdown-item category" href="#">Genre</button>
                    </div>
                </div>
                <a href="/posts/search/category/" class="btn btn-outline-success my-2 my-sm-0 searchButton" >Search</a>
            </form>
        </div>
    </nav>
    <div style="text-align: center">
    <% for (let i=0; i < posts.length; i ++) { %>
        <li class="card" style="width: 30rem;">
            <img class="card-img-top" src="
            <% if (posts[i].Link.includes("bandcamp")) { %>
            https://i.imgur.com/lLQoinI.png
            <% } else if (posts[i].Link.includes("youtube")) { %>
                https://i.imgur.com/qTtMmDO.png
            <% } else if (posts[i].Link.includes("spotify")) { %>
                https://i.imgur.com/YB0YsUm.png
            <% } else if (posts[i].Link.includes("soundcloud")) { %>
                https://i.imgur.com/UStS5cp.jpg
             <% }  else { %> 
            https://i.imgur.com/7VTlCxz.png
            <% } %>
            " alt="not working" style="max-width: 5rem; max-height: 2.5rem;">
            <div class="card-body">
            <p class="card-text">
            <%= posts[i].Song %> by <%= posts[i].Artist %><br>
            <% if (posts[i].Album) { %> 
                Album: <%= posts[i].Album %><br><br>
            <% } %>
            <%= posts[i].Notes %>
            </p>
            <a href="<%=posts[i].Link%>" class="btn btn-success">Link</a>
            <a href="/posts/<%=posts[i]._id%>" class="btn btn-primary">View</a>
            <a href="/posts/<%=posts[i]._id%>/edit" class="btn btn-secondary">Edit</a>
            <form action="/posts/<%=posts[i]._id%>?_method=DELETE" method="POST" class="d-inline">
                <input type="submit" value="Delete" class="btn btn-danger"/>
            </form><br>
            posted by: <%= posts[i].Author %>
            <div class="nav-link disabled" href="#">
                <% posts[i].Genre.forEach(genre => { %>
                [<%=genre%>]
                <% }) %>
            </div>
        </div>
        </li>
        <% } %>
    </div>
    <script>
        const a = document.querySelector('.searchButton')
        const input = document.querySelector('.searchInput')
        const categorySong = document.querySelectorAll('.category')
        const filter = document.querySelector(".filter")

        console.log(categorySong)


        function runScript(event) {
            if (event.data == ' ') {
                a.href += '+'
            } else {
            a.href += input.value[input.value.length - 1]}
            console.log("working")
        }
        input.addEventListener('input', event => {
            
            console.log(event)
            if (event.inputType === "deleteContentBackward") {
                backspace()
            } else {
                runScript(event)
            }
        })

        function addCategory(input) {
            console.log("fired")
            filter.innerText = input
            a.href = a.href.replace("category", input)
            a.href = a.href.replace("Song", input)
            a.href = a.href.replace("Album", input)
            a.href = a.href.replace("Genre", input)
            a.href = a.href.replace("Artist", input)
        }

        function backspace() {
                console.log("backspace fired")
                if (a.href.length > 23) {
                a.href = a.href.slice(0, -1)}
            }

        categorySong.forEach(button => button.addEventListener('click', event => {
                event.preventDefault()
                console.log("fired")
                let input = button.innerText
                console.log(input)
                addCategory(input)}
                ))
    </script>
</body>
</html>